{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'Ip_Styles/delete_whole.css' %}">
{% endblock css_files %}

{% block page_title %}
    Delete
{% endblock page_title %}

{% block sidebar %}
    {% include 'side_bar.html' with page='trademark'%}
{% endblock sidebar %}

{% block content %}
    <form class="form-block" action="" method="POST" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}

        <h1>WARNING</h1>
        
        <p>
            You are about to delete a utility model entry named <b>{{ application.application_name }}</b>. Associated files to this entry are as follows:
        </p>

        <ul>
            {% if file.application_form.application_form_file.name %}
                <li><b>{{ file.application_form.application_form_file.name |file_name }}</li></b>
            {% endif %}
            
            {% if file.mark.mark_file.name %}
                <li><b>{{ file.mark.mark_file.name|file_name }}</li></b>
            {% endif %}
            
            {% if file.author_ids.author_ids_file.name %}
                <li><b>{{ file.author_ids.author_ids_file.name|file_name }}</li></b>
            {% endif %}
            
            {% if file.memorandum_of_appointment.memorandum_of_appointment_file.name %}
                <li><b>{{ file.memorandum_of_appointment.memorandum_of_appointment_file.name|file_name }}</li></b>
            {% endif %}
        </ul>

        <p>
            By deleting this entry, the associated files will also be deleted. This process <b>CANNOT</b> be reversed. Please make sure that appropriate actions were taken before proceeding.
        </p>

        <div class="d-flex">
            <input class='btn btn-danger action-button' type="submit" value="Delete">
            <a class="btn btn-secondary action-button" href="{% url 'trademark-detail' application.slug %}">Go Back</a>
        </div>
    </form>
{% endblock content %}