.form-block{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px rgb(211, 211, 211);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h1{
    color: rgb(197, 0, 0);
}

p{
    font-size: 25px;
}

.action-button{
    margin-right: 3px;
}