.notification{
    margin: 10px;
}

.wrapper{
    background-color: white;
    padding: 20px;
    margin: 20px;
    border: solid 1px rgb(211, 211, 211);
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#searchbar{
    border: solid 2px rgb(211, 211, 211);
    border-radius: 5px;
    outline: none;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    min-width: 80%;
    max-width: 80%;
    transition-property: border, background-color;
    transition: 50ms;
}

#searchbar:focus{
    border: solid 2px rgb(73, 188, 255) !important;
    background-color: rgb(240, 249, 255);
    outline: none;
    transition-property: border, background-color;
    transition: 50ms;
}

.search-button{
    margin-left: 5px;
}

table{
    border-collapse: collapse !important;
}

thead, tr{
    border-bottom: 2px solid rgb(255, 242, 242) !important;
}

tr:hover{
    cursor: pointer;
    background-color: rgb(245, 245, 245);
}

thead tr th {
    color: rgb(0, 127, 185);
}

.td-name{
    word-wrap: break-word !important;
    min-width: 130px;
    max-width: 200px;
}

.td-name a{
    text-decoration: none;
    font-weight: bold;

}

tbody{
    background-color: white !important;
    border-radius: 50px !important;
}

.table-complete-column li{
    color: green;
    font-size: 15px;
    font-weight: 700;
}

.table-incomplete-column li{
    color: rgb(211, 85, 85);
    font-size: 15px;
    font-weight: 700;
}

ul {
    list-style: none;
    font-size: 15px;
    margin: 0 !important;
    padding: 0 !important;
}