.card-footer-custom{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2e1141;
    color: white;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    margin-top: 40px;
}

.ip-card{
    border-radius: 10px !important;
    margin-top: 20px;
    padding-top: 40px;
    box-shadow: rgba(209, 209, 209, 0.959) 0px 3px 8px;
    cursor: pointer;
}