.form-block{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-block label{
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-block textarea{
    border: solid 2px rgb(179, 179, 179);
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    width: 60%;
    transition-property: border, background-color;
    transition: 50ms;
}


.form-block textarea:focus{
    border: solid 2px rgb(73, 188, 255) !important;
    background-color: rgb(240, 249, 255);
    outline: none;
    transition-property: border, background-color;
    transition: 50ms;
}