body{
    /* background: url("../../../../static/dhvsu.jpg");
    background-repeat: no-repeat;
    background-size: co; */

    padding: 0px !important;
    margin: 0px !important;
}

.left-side{
    position: relative;
    min-height: 100vh;
    min-width: 100vh;
    background-color: rgb(0, 0, 0);
}

.left-side h2{
    color: white;
    z-index: 100;
}

.ipo-office{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.ipo-office-overlay{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 50%;
    z-index: 20;
}

.dhvsu-logo{
    width: 30%;
    height: 30%;
    z-index: 100;
}

/* Right side */
.login-form{
    background-color: #7e1214 !important;
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    margin-right: 0px;
    border-left: solid 2px gold;
    border-right: solid 2px gold;
}

.login-form h4{
    color: white;
    font-weight: bold;
}

.form input[type="text"],
.form input[type="password"]{
    font-size: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 2px rgb(255, 255, 255) !important;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus{
    border: solid 2px rgb(73, 188, 255) !important;
    background-color: rgb(240, 249, 255);
    outline: none;
    transition-property: border, background-color;
    transition: 50ms;
}

.form input[type="submit"]{
    width: 80px;
    font-weight: bold;
}