{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    Home
{% endblock page_title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'Site/styles/index.css' %}">
{% endblock css_files %}

{% block sidebar %}
    {% include 'side_bar.html' with page='home' %}
{% endblock sidebar %}

{% block content %}
    <div class="row row-cols-xl-2 row-cols-sm-1 row-cols-xs-1">
        {% comment %} Copyright {% endcomment %}
        <div class="col">
            <div class="card ip-card" onclick="window.location='{% url 'copyright-home' %}'">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <img class="ip-logo" src="{% static 'copyright_logo.png' %}" alt="">
                        <h1>Copyright</h1>
                    </div>
                </div>

                <div class="card-footer-custom">
                    <h4>{{ copyrights }} Entr{{ copyrights|pluralize:'y,ies' }}</h4>
                </div>

            </div>
        </div>

        {% comment %} Patent {% endcomment %}
        <div class="col">
            <div class="card ip-card" onclick="window.location='{% url 'patent-home' %}'">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <img class="ip-logo" src="{% static 'patent_logo.png' %}" alt="">
                        <h1>Patent</h1>
                    </div>
                </div>

                <div class="card-footer-custom">
                    <h4>{{ patents }} Entr{{ patents|pluralize:'y,ies' }}</h4>
                </div>

            </div>
        </div>

        {% comment %} Industrial Design {% endcomment %}
        <div class="col">
            <div class="card ip-card" onclick="window.location='{% url 'industrial-design-home' %}'">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <img class="ip-logo" src="{% static 'industrial_logo.png' %}" alt="">
                        <h1>Industrial Design</h1>
                    </div>
                </div>

                <div class="card-footer-custom">
                    <h4>{{ industrial_designs }} Entr{{ industrial_designs|pluralize:'y,ies' }}</h4>
                </div>

            </div>
        </div>

        {% comment %} Utility Model {% endcomment %}
        <div class="col">
            <div class="card ip-card" onclick="window.location='{% url 'utility-model-home' %}'">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <img class="ip-logo" src="{% static 'utility_logo.png' %}" alt="">
                        <h1>Utility Model</h1>
                    </div>
                </div>

                <div class="card-footer-custom">
                    <h4>{{ utility_models }} Entr{{ utility_models|pluralize:'y,ies' }}</h4>
                </div>

            </div>
        </div>

        {% comment %} Trademark {% endcomment %}
        <div class="col">
            <div class="card ip-card" onclick="window.location='{% url 'trademark-home' %}'">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <img class="ip-logo" src="{% static 'trademark_logo.png' %}" alt="">
                        <h1>Trademark</h1>
                    </div>
                </div>

                <div class="card-footer-custom">
                    <h4>{{ trademarks }} Entr{{ trademarks|pluralize:'y,ies' }}</h4>
                </div>

            </div>
        </div>

        {% comment %} ISSN {% endcomment %}
        <div class="col">
            <div class="card ip-card" onclick="window.location='{% url 'issn-home' %}'">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <img class="ip-logo" src="{% static 'issn_logo.png' %}" alt="">
                        <h1>ISSN</h1>
                    </div>
                </div>

                <div class="card-footer-custom">
                    <h4>{{ issns }} Entr{{ issns|pluralize:'y,ies' }}</h4>
                </div>

            </div>
        </div>

    </div>
{% endblock %}
