{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'Ip_Styles/edit_file.css' %}">
{% endblock css_files %}

{% block page_title %}
    Edit File
{% endblock page_title %}

{% block sidebar %}
    {% include 'side_bar.html' with page='utility'%}
{% endblock sidebar %}

{% block content %}
    <h1><a class="page-header" href="{% url 'copyright-home' %}">Copyright</a></h1>

    <div class="d-flex justify-content-between align-items-center name-block">
        <h2>{{ utility_model.utility_model_application_name }}</h2>
        <h6>Date Added: {{ utility_model.date_added }}</h6>
        <h6>Date Modified: {{ utility_model.date_modified }}</h6>
    </div>

    <form class="form-block" action="" method="POST" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}

        <h2>
            {{ form.draft_file.label_tag }}
            {{ form.invention_pictures_file.label_tag }}
            {{ form.abstract_file.label_tag }}
            {{ form.author_ids_file.label_tag }}
            {{ form.memorandum_of_appointment_file.label_tag }}
        </h2>

        <div>
            <ul>
                <li>Allowed file formats are <b>.pdf</b> and <b>.zip</b>.</li>
                <li>Click <b>Submit</b> to upload selected file</li>
                <li>Click <b>Delete</b> to delete current file.</li>
            </ul>
        </div>

        {% if form.draft_file.errors  or form.invention_pictures_file.errors or form.abstract_file.errors or form.author_ids_file.errors or form.memorandum_of_appointment_file.errors %}
            <br>

            <div class="alert alert-danger">
                {{ form.draft_file.errors }}
                {{ form.invention_pictures_file.errors  }}
                {{ form.abstract_file.errors }}
                {{ form.author_ids_file.errors }}
                {{ form.memorandum_of_appointment_file.errors }}
            </div>
        {% endif %}
        <br>

        <h5>Current File:</h5>
        <h4>
            <a class="file-link" href="{{ file.draft_file.url }}" target="_blank">{{ file.draft_file.name|file_name|truncatechars:50 }}</a>
            <a class="file-link" href="{{ file.invention_pictures_file.url }}" target="_blank">{{ file.invention_pictures_file.name|file_name|truncatechars:50 }}</a>
            <a class="file-link" href="{{ file.abstract_file.url }}" target="_blank">{{ file.abstract_file.name|file_name|truncatechars:50 }}</a>
            <a class="file-link" href="{{ file.author_ids_file.url }}" target="_blank">{{ file.author_ids_file.name|file_name|truncatechars:50 }}</a>
            <a class="file-link" href="{{ file.memorandum_of_appointment_file.url }}" target="_blank">{{ file.memorandum_of_appointment_file.name|file_name|truncatechars:50 }}</a>
        </h4>
        
        <br>

        <h5>Upload New File:</h5>
        {{ form.draft_file}}
        {{ form.invention_pictures_file }}
        {{ form.abstract_file }}
        {{ form.author_ids_file}}
        {{ form.memorandum_of_appointment_file}}
        
        <br>
        <br>

        <div class="d-flex">
            <input class='btn btn-success action-button' name="Submit" type="submit" value="Submit">
            <input class='btn btn-danger action-button' name="Delete" type="submit" value="Delete">
            <a class="btn btn-secondary action-button" href="{% url 'utility-model-detail' utility_model.utility_model_slug %}">Go Back</a>
        </div>
        
    </form>
{% endblock content %}