{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'Ip_Styles/add.css' %}">
{% endblock css_files %}

{% block page_title %}
    Add New Patent
{% endblock page_title %}

{% block sidebar %}{% endblock sidebar %}

{% block content %}
    <h1>Patent</h1>
    <form class="form-block" action="{% url 'add-patent' %}" method="POST" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
        
        <h3>Add new patent entry</h3>

        <ul>
            <li>Name must be <b>unique</b> or not yet existing in the database. </li>
            <li>Remarks can be <b>empty</b>.</li>
        </ul>

        {{ form.patent_application_name.label_tag }}

        {% if form.patent_application_name.errors %}
            <div class="alert alert-danger">
                {{ form.patent_application_name.errors}}
            </div>
        {% endif %}
        
        <br>
        {{ form.patent_application_name }}
        
        <br>

        {{ form.remarks.label_tag }}
        <br>
        {{ form.remarks }}
        <br>
        
        <input class='btn btn-success' type="submit" value="Submit">
    </form>
    
{% endblock content %}
