
{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'Copyright/styles/new_file.css' %}">
{% endblock css_files %}

{% block page_title %}
    Patent - Add New File
{% endblock page_title %}

{% block content %}
    <h1><a class="page-header" href="{% url 'patent-home' %}">Patent</a></h1>

    <div class="d-flex justify-content-between align-items-center name-block">
        <h2>{{ patent.patent_application_name }}</h2>
        <h6>Date Added: {{ patent.date_added }}</h6>
        <h6>Date Modified: {{ patent.date_modified }}</h6>
    </div>

    <form class="form-block" action="{% url 'new-file-patent' patent.patent_slug file_type %}" method="POST" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
        <h2>
            {{ form.patent_draft_file.label_tag }}
            {{ form.invention_pictures_file.label_tag }}
            {{ form.abstract_file.label_tag }}
            {{ form.author_ids_file.label_tag }}
            {{ form.memorandum_of_appointment_file.label_tag }}
        </h2>

        <div>
            <ul>
                <li>Allowed file formats are <b>.pdf</b> and <b>.zip</b>.</li>
                <li>Click <b>Submit</b> to upload selected file</li>
            </ul>
        </div>

        {% if form.patent_draft_file.errors  or form.invention_pictures_file.errors or form.abstract_file.errors or form.author_ids_file.errors or form.memorandum_of_appointment_file.errors %}
            <br>

            <div class="alert alert-danger">
                {{ form.patent_draft_file.errors }}
                {{ form.invention_pictures_file.errors  }}
                {{ form.abstract_file.errors }}
                {{ form.author_ids_file.errors }}
                {{ form.memorandum_of_appointment_file.errors }}
            </div>
        {% endif %}
        <br>

        {{ form.patent_draft_file}}
        {{ form.invention_pictures_file }}
        {{ form.abstract_file }}
        {{ form.author_ids_file}}
        {{ form.memorandum_of_appointment_file}}
        
        <br>
        <br>
        
        <div class="d-flex">
            <input class='btn btn-success action-button' type="submit" value="Submit">
            <a class="btn btn-secondary action-button" href="{% url 'patent-detail' patent.patent_slug %}">Go Back</a>
        </div>
        
    </form>
{% endblock content %}